back-end-flask/__pycache__
back-end-flask/app/__pycache__
back-end-flask/*.pyc
back-end-flask/*/*.pyc

back-end-express/node_modules
back-end-express/yarn.lock

front-end-server/node_modules
front-end-server/yarn.lock

front-end/node_modules
front-end/build
front-end/yarn.lock
